<div class="container">
    <div class="row"><h1>@character.Name</h1></div>
    <div class="row">
        <div class="col-9">
            <QuoteCard text="@character.Quote" source="@character.Name"></QuoteCard>
            <p>
                @markupString
            </p>
        </div>
        <div class="col-3">
            <div class="card h-auto w-auto">
                <img src="@character.PortraitUrl" class="card-img-top border-bottom" alt="Picture of Name">
                <div class="card-body">
                    <h4 class="card-title">@character.Name</h4>
                    <h5 class="card-title">Basic Info</h5>

                    <InfoRow label="Age" dataValue="@character.Age.ToString()"></InfoRow>
                    <InfoRow label="Status" dataValue="@character.Status"></InfoRow>

@*                    <div class="d-flex justify-content-between align-items-start">
                        <h5 class="data-label">Species</h5>
                        <div class="data-value">
                            <ul>
                                @foreach (var s in character.Species)
                                {
                                    <li>@s</li>
                                }
                            </ul>
                        </div>
                    </div>*@

                    <h5 class="card-title">Family Info</h5>
                    <div class="d-flex justify-content-between align-items-start">
                        <h5 class="data-label">Family Members</h5>
                        <div class="data-value">
                            <ul>
                                <li>Hej</li>
                                <li>Hej</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
@*            <BasicInfoCard PortraitUrl="@character.PortraitUrl" Age="@character.Age" Species="@character.Species">

            </BasicInfoCard>*@
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Character? character { get; set; } = new Character();
    [Parameter]
    public List<Paragraph> paragraphs { get; set; } = new List<Paragraph>();

    public MarkupString markupString { get; set; }

    protected override void OnParametersSet()
    {
        var html = character.Text;
        markupString = (MarkupString)html; // or new MarkupString(html)
    }
}
